<mat-sidenav-container class="example-container" >
    <mat-sidenav class="largura" hidden mode="side" opened>
      
      <div class="column">
        <button (click)="principal()">Principal</button>
        <button (click)="faculdade()">Faculdade</button>
        <button (click)="casa()">Casa</button>
        <button (click)="pessoal()">Pessoal</button>
        <button (click)="trabalho()">Trabalho</button>
        <button (click)="sair()">Sair</button>
        <br>
        <mat-divider></mat-divider>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
  
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
</mat-sidenav-container>