.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.largura{
  width: 200px;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35%;
}

.distancia{
  margin-bottom: 5%;
}