.example-card {
    width: 400px;
}

.espaço{
    margin-right: 8px;
}

.cor{
    border: none;
}

.column{
    display: flex;
    flex-direction:column;
}

.botao{
    margin-bottom: 5px;
}

.interacao{
    display: flex;
    /* Justify é na horizontal */
    justify-content: center;
    /* align é na vertical */
    align-items: center;
    height: 100vh;
}