.head{
    background-color: red;
    height: 25%;
}
.table{
    background-color: blue;
    height: 100%
}

.body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column{
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}