<div class="interacao">
  <mat-card class="form">
    <h1>Obrigado por se cadastrar</h1>

    <div >
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Um email foi enviado para <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor cheque sua caixa de entrada para confirmar seu email</p>
      </div>
      
      <div>
        <button mat-raised-button (click)="authService.SendVerificationMail()" color="warn">Reenviar email de verificação</button>
      </div>

      <div class="margem">
        <button mat-raised-button (click)="voltar()"color="primary">Voltar para tela de login</button>
      </div>
    </div>
      
  </mat-card>
</div>
  